{% include "uploader/header.html" %}

<style type="text/css">
    .columnhover {background-color: #F1F1F1;}
    .columnselect {
    	background-color: #CECEF6;
    	font-weight: bold;
    }
</style>


<h2>Contents of file: {{ filename }}</h2> 
<br>
<p>
<form action="{% url 'transactions:gettrans' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type="hidden" value="{{ htmldata }}" name="datafile"/>
	<input type="submit" value="Categorize Transactions" />
</form>
<br>

<!-- <form action="{% url 'uploader:edit_data' %}" id="edit-data-form" method="post" enctype="multipart/form-data">  -->
<form id="edit-data-form" method="POST">	
	{% csrf_token %}
	<input type="hidden" value="{{ csvdata }}" id="editdata"/> 
	{{ form.text }}
	<input type="submit" value="Edit Data" />
</form>

<div id="tabledata">
	<table id="tbcontent">
		{{ htmldata|safe }}
	</table>
</div>

<script src="/static/scripts/uploader.js"></script>