{% include "uploader/header.html" %}

<style type="text/css">
    .columnhover {background-color: #F1F1F1;}
    .columnselect {
    	background-color: #CECEF6;
    	font-weight: bold;
    }
</style>

<h2>Contents of file: {{ filename }}</h2> 
<br>
<p>
<form action="{% url 'transactions:gettrans' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type="hidden" value="{{ htmldata }}" name="datafile"/>
	<input type="submit" value="Categorize Transactions" />
</form>
<br>

<div id="tabledata">
	<button id="editmode">Edit Mode</button>
	<table id="tbcontent">
		{{ htmldata|safe }}
	</table>
</div> 

<div id="edittabledata" style="display: none;">
	<form id="edit-data-form" method="POST">	
		{% csrf_token %}
		<input type="submit" value="Submit Changes" />
		<button id="cancel">Cancel</button>
	</form>	

	<textarea rows="60" cols="200" id="editdata" form="edit-data-form">
		{{ csvdata }}	
	</textarea>
</div>

<script src="/static/scripts/uploader.js"></script>